.header{
    padding: 24px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name{
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 33px;
    }

    &__darkmode{
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
    }

    img{
        width: 20px;
    }
}

.header._dark{
    background-color: #2B3844;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

@media screen and (max-width: 31.25rem) {
    .header__name{
        font-size: .875rem;
    }

    .header__darkmode{
        font-size: .75rem;
    }

    .header img{
        width: 16px;
    }
}